
body {
  background-color: black;
  margin: 0;
  height: 100vh;   /* staat voor 100% Van de Hoogte dus het hele scherm van je website*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative; /*hiermee verschuift het niet van zijn plek door andere elementen*/
  display: inline-block;
}

.heart-container {
position: relative;   
width: 500px;
height: 500px;
}

.pulse{
opacity: 0; /* Initially hidden */
/* animation: fadeIn 1s ease-in-out; */
position: absolute;
left:-450px;
right:0px;
width: 100vw;
height: 100%;
z-index: 1; /*pulse zit achter heart img*/ 

}
.heart {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 2; /*heart komt dan boven op de pulse img*/ 
  animation: heartbeat 1s infinite ease-in-out;
  /* 1s duur de animatie gaat oneindig door en de timing functie is dat het rustig begint gaat snel in het midden en eindigt weer langzaam*/
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}



@keyframes heartbeat {

  0%,
  100% {
    transform: scale(1); /*100% van de originele grootte (niets verandert*/
  }

  50% {
    transform: scale(1.2); /*maakt een element 20% groter verticaal horizontaal blijft 100% */
  }
}
