body{
    background-color: black;
}

.box{
    display: flex;
    align-items: center;
}
.photo{
    height: auto;
    border-color: red;
    border-radius: 10px ;
}
.hearts{
    font-size: 70px;
    width:30px;
    display: inline-block;
    animation: heartbeat 1s infinite ease-in-out;
}
.text{
text-align: right;
color: rgb(226, 112, 131); 
}
h1{
    font-size: 100px;
   
margin-inline: auto;
}
ul{
    list-style: none;
}
.prive{
    display: flex;
    flex-direction: column;
}
.inline{
     display: flex;
    align-items: center;
gap: 450px;

}
@keyframes heartbeat {

  0%,100% {transform: scale(1); /*100% van de originele grootte (niets verandert*/
  }

 50% {transform: scale(1.2); /*maakt een element 20% groter verticaal horizontaal blijft 100% */
    }
  
}

.heart-toggle {
  display: none;
}

.hearts .broken {
  display: none;
}

.heart-toggle:checked ~ .hearts .heart {
  display: none;
}

.heart-toggle:checked ~ .hearts .broken {
  display: inline;
}

